body {
    background-color: cadetblue;
}   
ul {
    margin: 0;
    width: 130px;
    padding-left: 0px;
    float: left;
}
ul li {
    display: block;
}
ul a {
    display: block;
    border: 2px solid black;
    border-left-width: 4px;
    margin-bottom: 4px;
    padding: 2px 4px;
    color: white;
    text-decoration: none;
}
#head {
    text-decoration: underline;
}
#head {
    color: cadetblue;
}
.content {
    margin-left: 4px;
    padding: 4px;
    display: block;
    float: left;
    background-color: beige;
}
#img {
    display: block;
    float: initial; 
}

